.background {
  background-color: #0d0221;
  height: 100vh;
  width: 100%;
}

.backgroundImage {
  background-size: Contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  width: auto;
}

.jobTitles {
  color: #f83674;
}

.links {
  color: #f83674;
}

.top {
  padding-top: 24px;
  height: 10vh;
}

.bottom {
  padding-bottom: 24px;
  height: 10vh;
}

.name {
  color: white;
  font-size: 150px !important;
  font-weight: 300 !important;
  text-transform: uppercase !important;
  text-shadow: 3px 3px 0 #0d0221, -3px -3px 0 #0d0221, 3px -3px 0 #0d0221,
    -3px 3px 0 #0d0221, 3px 3px 0 #0d0221;
}

@media only screen and (max-width: 1920px) {
  .name {
    font-size: 132px !important;
  }
}

@media only screen and (max-width: 1280px) {
  .name {
    font-size: 102px !important;
  }
}

@media only screen and (max-width: 960px) {
  .name {
    font-size: 60px !important;
  }
}

@media only screen and (max-width: 600px) {
  .name {
    font-size: 38px !important;
  }
}
